.container {
  padding: 3rem 0;
}

.containerLanding {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spanLanding {
  color: #b6a7ff;
}

.landingTitle {
  font-size: 3.5rem;
  animation: down-up 1s ease-in-out;
  text-align: center;
}

@keyframes down-up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.introProduct{
  font-size: 1.25rem;
  font-weight: 400;
  max-width: 768px;
}

.ContainerBruh{
  animation: down-up 1s ease-in-out;
  padding: 4rem 0;
}
.containerImage {
  display: flex;
  justify-content: space-around;
  padding: 6rem 2rem;
  box-shadow: 0 0 20px 1px hsl(0deg 4.18% 32.2% / 8%);
  align-items: center;
  border-radius: 8px;
  max-width: 1280px;
  margin: 0 auto;
  gap: 2rem;
  flex-wrap: wrap;

}
.Image{
  border-radius: 8px;
}
.rotatingImage {
  animation: down-up-inf 2s infinite;
}

@keyframes down-up-inf {
  0% {
    opacity: 0.5;
    transform: translateY(15px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0.5;
    transform: translateY(15px);
  }
}

@media only screen and (max-width:768px){
  .landingTitle{
    font-size: 2.5rem;
  }
  .Image{
    width: 325px;
    height: 200px;
  }
  .introProduct{
    font-size: 1.1rem;
  }
  .containerImage{
    padding: 5rem 2rem;
  }
}

@media only screen and (max-width:475px) {
  .Image{
    display: none;
  }
  .introProduct{
    font-size: 1rem;
  }
  .containerImage {
  box-shadow: none;
  padding: 0;
  }
}